body {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    background-color: #E8E8E8;
}

#profil img {
    width: 30px;
    height: 30px; 
    margin-left: 30%;
}

/*CSS Du tabs*/

#tabs .ui-tabs-nav {
    background: #009879; /* Couleur de fond pour les onglets */
    border-bottom: 4px solid #00795f; /* Bordure plus foncée pour le bas */
}

#tabs .ui-tabs-tab {
    border-radius: 5px 5px 0 0; /* Bordures arrondies pour les onglets */
}

#tabs .ui-tabs-tab a {
    padding: 10px; /* Espace autour du texte dans les onglets */
}

#tabs .ui-tabs-panel {
 
    background: #E8E8E8; /* Fond blanc pour le contenu */
    padding: 20px; /* Espace intérieur pour le contenu */
}


#tabs .ui-tabs-nav li.ui-tabs-active {
    background-color: #005E4C; /* La même couleur de fond que les autres onglets */
    border: 1px solid black;
}

#tabs .ui-tabs-nav li.ui-tabs-active a,
#tabs .ui-tabs-nav li.ui-tabs-active a:hover {
    color: white; /* La même couleur de texte que les autres onglets */
}

#tabs{
    border-radius: 5px; 
}


/******************* Tabs-1 ***************/

#tabs-1{ 
    height: 750px; 

}

.custom-button {
    padding: 10px 20px;
    border-radius: 15px; 
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    background-color:#E8E8E8; 
}

.btn-primary {
    color: #005E4C; 
    border: 2px solid #005E4C;
    margin-bottom: 1%;
   
}

#save-route-btn {
    color: #005E4C;
    border-color: #005E4C; 
    margin-right: 50%;
    margin-left: 10%;
}

#submit-btn{
    margin-left: 10%;
    margin-right: 50%;
}


#map {
    position: relative;
    width: 100%;
    height: 90%;
}

/******************* FIN Tabs-1 ***************/


/******************* Tableaux ***************/


h3 {
    margin-left: 10%; /* Déplacer légèrement vers la droite */
    margin-top: 10px; /* Un peu plus en bas */
    color: #009879; /* Couleur similaire à celle de votre thème */
    font-size: 1.5em; /* Taille de police plus grande pour le titre */
}

.styled-table {
    border-radius: 5px;
    border-collapse: separate;
    border-spacing: 0;
    width: 90%; /* Ajustez la largeur selon vos besoins */
    max-width: 1260px; /* Ajustez la largeur maximale selon vos besoins */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* Centrer le tableau */
    margin-bottom: 50px;
}

.styled-table th{
    text-align: LEFT;
    font-size: 16px;
    padding: 12px 15px;
}
.styled-table td {
    padding: 12px 15px;
    text-align: center;
    font-size: 16px;
}

.styled-table td:nth-child(2) { /* Remplacer 3 par l'index de la colonne de description */
    text-align: justify;
    padding: 10px; /* Ajustez au besoin */
}

.styled-table tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table th {
    background-color: #009879;
    color: white;
    border-bottom: none;
}

.styled-table td {
    background-color: #f3f3f3;
}

.styled-table tr:nth-child(even) td {
    background-color: #ffffff;
}

.styled-table tr:nth-child(1) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.styled-table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.styled-table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.styled-table td:first-child, .styled-table th:first-child {
    border-left: none;
}

.styled-table td:last-child, .styled-table th:last-child {
    border-right: none;
}

#sortCriteria{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 200px; 
}

#sortCriteria:focus {
    outline: none;
    border-color: #009879;
    box-shadow: 0 0 5px rgba(0, 152, 121, 0.5);
}

#sortCriteria:hover {
    border-color: #009879;
}
/******************* FIN Tabs-2 ***************/



/******************* Tabs-3***************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.ui-tabs .ui-tabs-panel{
    height: 3000px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.holder {
    position: relative;
}

#tabs-3 .haut{
    height: 25%;
}
.box1 {
    position: absolute;
    top: 10%;
    z-index: 1; 
    margin-left: 30%;
    font-size: 3.5em;
}

.box{
    position: relative;
    width:200px;
    height: 200px;
    margin-left: 43%;
    margin-top: 20%;
  
    transform-style:preserve-3d;
    animation: animate 20s linear infinite;


}

@keyframes animate {
    0%{
        transform: perspective(1000px) rotateX(0deg) rotateY(35deg);
    }

    100%{
        transform: perspective(1000px) rotateX(360deg) rotateY(35deg);
    }
    
}

.box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateX(calc(var(--i) * 45deg )) translateZ(300px);
}

.box span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

#album {
    width: 100%;
    margin-top: 5%;
    margin-left: 2%;
}

#sorting-options {
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
}

#sort-location {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 200px; 
}

/* Style au survol */
#sort-location:hover {
    border-color: #009879;
}

/* Style au focus */
#sort-location:focus {
    outline: none;
    border-color: #009879;
    box-shadow: 0 0 5px rgba(0, 152, 121, 0.5);
}

/* Style pour les options */
#sort-location option {
    padding: 5px;
}


#photo-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px; 
}

.photo {
    width: 200px;
    margin: 10px;
    
}

.photo img {
    width: 100%;
    height: auto;
}


#photo-container span img {
    width: 200px; 
    height: 200px;
    object-fit: cover; 
}
/******************* FIN Tabs-3***************/


/*****************FOOTER*********************/

footer .contenu{
    background-color:#005E4C;
    display: flex ;
    flex-direction: row;
    width: 100%;
    padding-top: 2.5%;
    color: #fff;
}

footer p{
    font-size: 0.85em;
}

footer .droit{
    background-color: #005E4C;
    color:#fff;
    padding-left: 15%;
}
footer #logo{

    display: flex;
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
}


footer .haute{
    display: flex;
    width: 35%;
    margin-left: 5%;
}

footer .basse{
    display: flex;
    width: 35%;
}



footer h2{
    margin-bottom: 5%;
    color: white;
}


    /**informations**/
footer .informations{
    width: 50%;;

}

footer .informations li {
    color: white;
    margin-bottom: 10%;
    margin-left: 2.5%;
    list-style-type: ">"
}

footer .informations li a{
    color: white;  
    margin-left: 5%;
    text-decoration: none;
     
}

     /**Adresse**/

     footer .adresse  {
        width: 50%;
    }


    /**Autres**/

    footer .autres{
        width: 50%;
    }

    footer .autres li {
        margin-bottom: 10%;
        list-style-type: none
    }

    footer  .autres li a{
        color: white; 
        text-decoration: none;
    }

    footer  .autres li svg{

        margin-right: 5%;
        
    }


    /**Icones**/

    footer .icones{
        position: relative;
        display:flex;
        flex-direction: column;
        margin-top: 2%;
        margin-left: 5%;
        transition:0.5s ease;
    }


    
   footer .icones a{
        margin-left:30px;
        color:#fff;
        font-size:1.6em;
        transition:0.3s ease;
    }
    

    
    footer .icones a:hover{
        transform : scale(1.3);
    }
