body {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}


#tabs{

    height: 900px;  
}

#tabs-1{
   
    height: 850px; 

}

#map {
    position: relative;
    width: 100%;
    height: 40%; 
    height: 90%;
}

#clearRouteBtn {
    color: red !important;
    z-index: 100000;
    position: relative;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.ui-tabs .ui-tabs-panel{

    height: 950px; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.holder {
    position: relative;
}


.box1 {
    /* Styles pour .box1 */
    position: absolute;
    top: 30%; /* Ajustez la position verticale selon vos besoins */
    z-index: 1; /* Mettez .box1 en arrière-plan */
    margin-left: 30%;
    font-size: 3.5em;
}

.box{
    position: relative;
    width: 200px;
    height: 200px;
    margin-left: 43%;
    margin-top: 20%;
    transform-style:preserve-3d;
    animation: animate 20s linear infinite;

}

@keyframes animate {
    0%{
        transform: perspective(1000px) rotateX(0deg) rotateY(35deg);
    }

    100%{
        transform: perspective(1000px) rotateX(360deg) rotateY(35deg);
    }
    
}

.box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateX(calc(var(--i) * 45deg )) translateZ(300px);
}

.box span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

