#album {
    margin-top: 30%;
    max-width: 800px;
    margin-left: 10%;
    margin-bottom: 10%;
}

#sorting-options {
    margin-top: 10%;
    margin-bottom: 20px;
}

#photo-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px; 
}

.photo {
    width: 200px;
    margin: 10px;
    
}

.photo img {
    width: 100%;
    height: auto;
}


#photo-container span img {
    width: 200px; /* Largeur fixe */
    height: 200px; /* Hauteur fixe */
    object-fit: cover; /* Redimensionne l'image tout en conservant les proportions */
}