*{
    margin: 0;
    padding: 0;
}

.banner {
    margin-bottom: 0.5%;
}

#profil {
    width: 30%;
    position: absolute;
    top: 15px; /* Ajustez la distance depuis le haut de la bannière */
    margin-left: 1300px; /* Ajustez la distance depuis la droite de la bannière */
    
}


/* ... Vos autres styles ... */

#information{
    width: 20%;
    text-align: justify;
    z-index: 222;
    background: rgba(194, 177, 177, 0.1);
    backdrop-filter: blur(20px);
    padding: 2%;
    border: 1px solid rgba(194, 177, 177, 0.1);
    border-radius: 10px;
    margin-left: 37%;
    margin-right: 50px;
    margin-top: 2%;

}


