*{
    margin: 0;
    padding: 0;
}

.banner {
    margin-bottom: 0.5%;
}

#profil {
    width: 30%;
    position: absolute;
    top: 15px; 
    margin-left: 1300px; 
    
}


#information{
    width: 20%;
    text-align: justify;
    z-index: 222;
    background: rgba(194, 177, 177, 0.1);
    backdrop-filter: blur(20px);
    padding: 2%;
    border: 1px solid rgba(194, 177, 177, 0.1);
    border-radius: 10px;
    margin-left: 37%;
    margin-right: 50px;
    margin-top: 2%;

}

#profil #deconnexion .btn-primary{

    padding: 10px 20px;
    border-radius: 15px; 
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    background-color:#E8E8E8;
}



/*****************FOOTER*********************/

footer{
    margin-top: 2%;
    
}

